/* MAIN CSS FILE */

:root {
    --black: #232323;
    --white: #fff;
    --blue: #349193;
    --purple: #48083B;
    --yellow: #FBD406;
    --skyblue: #CBEAEB;
    --sky: var(--skyblue);
    --orange: #F15F42;
    --lightgrey: #F3F3F3;
    --lightgray: var(--lightgrey)
}

//Import structurals
@import 'structural/card.scss';
//Import components
@import 'components/project.scss';